@import "carousel.css";
html {
  overflow-x: hidden;
}
body {
  margin: 0;
}
* {
  font-family: "Roboto";
}
p {
  text-align: center;
}
.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
.content-container {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.lightgrey-background {
  background-color: rgb(243 243 243);
}
.wide {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.mobile-menu {
  display: none;
  overflow: hidden;
}
.mobile-menu-container {
  position: fixed;
  top: 73;
  left: 0;
  width: 100vw;
  height: calc(100vh - 73px);
  background: rgb(0 99 114);
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.mobile-menu-container img {
  width: 200px;
  height: 164px;
  margin-top: 62px;
}
.mobile-menu-hamburger-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 79px;
  height: 79px;
  background: rgb(0 99 114);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobile-menu ul li a {
  color: rgb(26 199 79);
  font-size: 24px;
  font-weight: 700;
  margin-right: 40px;
  text-decoration: none;
}
.mobile-menu ul li:nth-of-type(1) {
  margin-top: 53px;
}
.mobile-menu ul li:nth-of-type(2),
.mobile-menu ul li:nth-of-type(3) {
  margin-top: 80px;
}
.mobile-menu-hamburger-container img {
  width: 20px;
  height: 14px;
  margin-bottom: 7px;
}
.top-header {
  border-bottom: 1px solid rgb(199 206 214);
  position: fixed;
  z-index: 9;
  top: 0;
  width: 100%;
  height: 65px;
  padding: 5px 0 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.section-content {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-container {
  width: 1055px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}
.header-left .szop {
  max-width: 179px;
}
#hamburger {
  margin: 6px 30px 0 20px;
}
#hamburger img {
  width: 20px;
  height: 14px;
}
#hamburger-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-right {
  display: none;
}
.top-header #szop-logo {
  width: 100px;
  height: 33.7px;
  margin-left: 20px;
  margin-top: -5px;
}
.header-right #fb {
  width: 30px;
  margin-right: 65px;
}
.section-header {
  font-size: 30px;
  color: rgb(0 99 114);
  width: 100%;
  letter-spacing: 0;
  font-family: "Roboto";
  font-weight: 600;
  margin-bottom: 40px;
  padding: 0 2px 0px 2px;
}
.section-description {
  font-size: 20px;
  width: 100%;
  letter-spacing: 0;
  font-family: "Roboto";
  font-weight: 300;
  margin-bottom: 48px;
  padding: 0 12px;
  color: rgb(109 114 120);
}
section#app {
  width: 100%;
  height: 662px;
}
section#app .section-header {
  margin-top: 37px;
  margin-bottom: 20px;
}
section#app .section-description {
  margin-right: 20px;
  padding: 0;
}
.section-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.download-button {
  background-color: rgb(26 199 79);
  border-radius: 18px;
  width: 335px;
  height: 36px;
  color: rgb(255 255 255);
  letter-spacing: 0.5px;
  font-size: 14px;
  margin: 0 auto;
}
#img-app {
  position: relative;
  top: 51px;
  right: 5px;
  width: 325px;
}
.desktop-description {
  display: none;
}
.mobile-description {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 54px 0 0 5px;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 625px;
}
.mobile-description .section-header {
  margin-bottom: 20px;
  margin-left: -10px;
}

.mobile-description .section-description {
  padding-left: 0;
}
.mobile-description .mobile-description-item {
  text-align: center;
  width: 375px;
  padding: 0 15px;
  margin-bottom: -30px;
}
.mobile-description .mobile-description-item .download-button {
  margin-bottom: 71px;
}
.mobile-description .mobile-description-item img {
  width: 200px;
  padding: 0 87px;
}
.mobile-description-item:nth-of-type(2) .section-header,
.mobile-description-item:nth-of-type(3) .section-header,
.mobile-description-item:nth-of-type(4) .section-header {
  margin-top: -70px;
}
#mobile-description-item-1 {
  padding-left: 0;
  margin-top: -75px;
}
#mobile-description-img2,
#mobile-description-img3,
#mobile-description-img4 {
  margin-top: 112px;
}

section#how-it-works {
  position: relative;
  top: 38px;
  display: flex;
  flex-direction: column;
  margin-top: 122px;
  padding-bottom: 20px;
  height: 667px;
}
.radio-container {
  display: flex;
  flex-direction: row;
}
.horizontal-images-container {
  display: none;
}
#how-it-works-img1-mobile {
  width: 212px;
  height: 177px;
  margin: 5px 0 0 73px;
}
#how-it-works-img2-mobile {
  width: 212px;
  height: 177px;
  margin-left: 43px;
  margin-top: 3px;
}
#how-it-works-img3-mobile {
  width: 130px;
  height: 138px;
  margin-left: 45px;
  margin-top: 22px;
}
.numbers-container {
  display: none;
}
.number {
  width: 40px;
  height: 40px;
  background-color: rgb(26 199 79);
  color: rgb(255 255 255);
  font-size: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-top: 50px;
}
#number1-mobile {
  margin: 23px 0 0 169px;
}
#number2-mobile {
  margin-left: 150px;
  margin-top: 18px;
}
#number3-mobile {
  margin-left: 148px;
  margin-top: 35px;
}
.dot-description {
  margin: 20px 0 0 55px;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  color: rgb(109 114 120);
}
.number-container1 .dot-description {
  width: 238px;
  margin: 20px 10px 0 58px;
}
.number-container2 .dot-description {
  width: 300px;
  margin-left: 18px;
}
.number-container3 .dot-description {
  width: 300px;
  margin-left: 12px;
}
.common-section .section-header {
  margin-top: 206px;
  margin-bottom: 0;
}
.common-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.common-section-small-part .section-header {
  margin-top: 187px;
}
.common-section-big-half {
  width: 746px;
  display: flex;
  justify-content: center;
}
.common-section-right-text {
  margin-right: 200px;
  margin-top: -50px;
}
.common-section-right-text .section-description {
  margin-bottom: 70px;
}
.common-section-image {
  width: 360px;
  height: 530px;
  margin-top: 70px;
  margin-left: 2px;
}
section#asortiment .section-header {
  width: 366px;
  margin-top: 210px;
}
section#get-it .section-description {
  width: 357px;
  margin-bottom: 50px;
}
section#get-it .common-section-right-text {
  margin-right: 180px;
}
.green {
  background-color: rgb(0 204 56);
}
.newsletter-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 667px;
}
.newsletter-section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.newsletter-section-image {
  width: 229px;
  height: 158px;
  margin: -20px 0 40px 25px;
}
.newsletter-section-header {
  color: rgb(0 99 114);
  font-size: 30px;
  font-family: "Roboto";
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 20px;
}
.newsletter-section-description {
  color: white;
  font-size: 20px;
  width: 335px;
  font-weight: 300;
  margin-bottom: 20px;
}
.email-input {
  width: 335px;
  height: 36px;
  padding-left: 16px;
  font-size: 16px;
  margin-bottom: 17px;
}
.email-input::placeholder {
  font-size: 16px;
  letter-spacing: 0;
  margin-left: 16px;
}
.newsletter-section button {
  width: 335px;
  height: 36px;
  color: rgb(255 255 255);
  background-color: rgb(0 99 114);
  border-radius: 36px;
  font-size: 14px;
  letter-spacing: 0.5px;
}
section#join {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section#join .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 105px 0 110px 0;
  text-align: center;
}
section#join .section-header {
  margin-top: 17px;
  margin-bottom: 20px;
}
section#join .section-description {
  width: 236px;
  margin-bottom: 20px;
}
section#join button {
  width: 335px;
  height: 36px;
  color: rgb(255 255 255);
  background-color: rgb(0 99 114);
  border-radius: 36px;
  font-size: 14px;
  letter-spacing: 0.5px;
}

section#join img {
  width: 200px;
  height: 175px;
  margin-top: 10px;
  margin-bottom: 45px;
}
footer {
  height: 285px;
}
footer .contact-info,
footer .copyright {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  letter-spacing: 0;
}
footer p {
  font-size: 20px;
  font-weight: 400;
  margin-top: 51px;
  margin-left: 5px;
  color: rgb(109 114 120);
  font-family: "Roboto";
}
footer a {
  text-decoration: none;
  color: rgb(109 114 120);
  margin-left: 54px;
}
footer span {
  display: block;
  font-weight: normal;
}
footer .footer-email {
  margin-left: 166px;
  margin-right: 132px;
}
footer .copyright {
  margin-top: 80px;
  font-size: 16px;
  font-weight: normal;
  color: rgb(109 114 120);
  font-family: "Roboto";
}
.with-border {
  border-top: 1px solid rgb(109 114 120);
}
section#promote .section-content {
  padding-top: 120px;
  height: 470px;
}
section#promote .section-header {
  margin-bottom: 0;
  width: 352px;
}
section#promote img {
  width: 538px;
  height: 549px;
  margin-left: -20px;
}
section#shop-join.common-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
section#shop-join .common-section-half {
  margin-left: 150px;
}
section#shop-join .section-header {
  margin-top: 155px;
  margin-left: 10px;
}
section#shop-join img {
  width: 360px;
  height: 630px;
}
section#shop-join .star-info {
  width: 312px;
  height: 48px;
  font-size: 14px;
  color: rgb(109 114 120);
  margin: 30px 0 0 7px;
}
section#about-app .section-header {
  width: 100%;
  margin-top: 70px;
  margin-bottom: 20px;
}
section#about-app .column-container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  width: 100%;
}
section#about-app .column {
  width: 240px;
  margin-right: 60px;
}
section#about-app .column p {
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 50px;
  width: 228px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(109 114 120);
}
section#about-app .column p.less-top-space {
  margin-bottom: 31px;
}
section#about-app img {
  width: 240px;
  height: 386px;
  margin-left: 5px;
}
section#realisation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
section#realisation .section-header {
  width: 432px;
  margin: 120px 77px -5px 0;
}
.faq {
  padding-top: 25px;
  height: 1252px;
}
.faq .faq-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 1252px;
}
.faq .main-header {
  width: 350px;
}
.faq .center {
  width: 628px;
  margin-left: 160px;
  margin-bottom: -20px;
}
.faq .center .section-header {
  width: 628px;
  margin-top: -10px;
  margin-bottom: 20px;
}
.faq .center .section-description {
  width: 541px;
  color: rgb(255 255 255);
  margin-top: 0;
  margin-bottom: 60px;
}
section#contact .section-header {
  margin-top: 65px;
  margin-bottom: 0;
}
section#contact .section-description {
  width: 486px;
  margin-bottom: 29px;
}
section#contact .email-input,
textarea {
  border: none;
}
section#contact .email-input,
textarea,
.send-button {
  margin-left: 5px;
}
.text-area {
  width: 590px;
  height: 128px;
  margin-top: 20px;
  padding: 16px;
  padding-top: 10px;
  font-size: 16px;
}

.text-area::placeholder {
  font-size: 16px;
  letter-spacing: 0;
  margin-left: 16px;
}
.text-area-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
section#contact img {
  width: 150px;
  height: 123px;
  margin-left: 50px;
}
.send-button {
  background-color: rgb(0 99 114);
  height: 36px;
  width: 200px;
  border-radius: 18px;
  color: rgb(255 255 255);
  letter-spacing: 0.5px;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 50px;
}

@media (min-width: 900px) {
  .main-container {
    margin-right: -50px;
  }
  p {
    text-align: left;
  }
  .mobile-menu {
    display: none;
  }
  .top-header {
    border-bottom: 1px solid rgb(199 206 214);
    position: fixed;
    z-index: 9;
    top: 0;
    width: 100%;
    height: 85px;
    padding-top: 5px;
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .section-content {
    padding-top: 170px;
  }
  .header-container {
    width: 1055px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-right: 95px; */
  }
  .top-header #szop-logo {
    width: 179px;
    height: 60px;
  }
  #hamburger {
    display: none;
  }
  .header-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
  }
  .header-left .szop {
    max-width: 179px;
  }
  .header-right {
    padding-right: 30px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .header-right p {
    font-size: 16px;
    letter-spacing: 0;
    font-family: "Roboto";
    font-weight: bold;
  }
  .header-right button {
    background-color: rgb(0 99 114);
    height: 36px;
    width: 180px;
    border-radius: 18px;
    color: rgb(255 255 255);
    letter-spacing: 0.5px;
    font-size: 14px;
    margin-left: 60px;
    margin-right: 50px;
  }
  .top-header #szop {
    width: 179px;
    height: 60px;
  }
  .header-right #fb {
    width: 30px;
    margin-right: 65px;
  }
  section#app {
    width: 100%;
    height: 588px;
  }
  .content-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1055px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  .section-header {
    font-size: 30px;
    color: rgb(0 99 114);
    width: 330px;
    letter-spacing: 0;
    font-family: "Roboto";
    font-weight: 600;
    margin-bottom: 40px;
  }
  .section-description {
    font-size: 20px;
    width: 336px;
    letter-spacing: 0;
    font-family: "Roboto";
    font-weight: 300;
    margin-bottom: 48px;
    padding: 0 15px;
    color: rgb(109 114 120);
  }
  .download-button {
    background-color: rgb(26 199 79);
    border-radius: 18px;
    width: 200px;
    height: 36px;
    color: rgb(255 255 255);
    letter-spacing: 0.5px;
    font-size: 14px;
    margin-top: 3px;
    margin-left: 5px;
  }
  section#app .section-description {
    padding-left: 10px;
  }
  #img-app {
    position: relative;
    top: -330px;
    left: 150px;
    width: 542px;
    height: 553;
  }
  #img-app-shop {
    position: relative;
    top: 330px;
    left: 170px;
    width: 542px;
    height: 553;
  }
  .desktop-description {
    display: block;
  }
  .mobile-description {
    display: none;
  }
  section#how-it-works {
    position: relative;
    top: -134px;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    height: 478px;
  }
  .how-it-works-header {
    margin-bottom: 126px;
  }
  .horizontal-images-container {
    display: flex;
    flex-direction: row;
  }
  #how-it-works-img1 {
    width: 212px;
    height: 177px;
    margin-left: 50px;
  }
  #how-it-works-img2 {
    width: 200px;
    height: 173px;
    margin: 2px 155px 0 115px;
  }
  #how-it-works-img3 {
    width: 130px;
    height: 138.6px;
    margin-top: 20px;
  }
  .numbers-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    text-align: center;
    padding-bottom: 0px;
  }
  .numbers-container .number {
    width: 40px;
    height: 40px;
    background-color: rgb(26 199 79);
    color: rgb(255 255 255);
    font-size: 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  #number1 {
    margin: 0 143px 0px 135px;
  }
  #number2 {
    margin-left: 135px;
    margin-top: 0;
  }
  #number3 {
    margin-left: 150px;
    margin-top: 0;
  }
  .dot-description {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    margin-bottom: -40px;
    font-weight: 400;
    color: rgb(109 114 120);
  }
  .number-container1 .dot-description {
    width: 238px;
    margin: 20px 10px 0 38px;
  }
  .number-container2 .dot-description {
    width: 300px;
    margin-left: 7px;
  }
  .number-container3 .dot-description {
    width: 300px;
    margin-left: 20px;
  }
  .common-section .section-header {
    margin-top: 206px;
    margin-bottom: 0;
  }
  .common-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15px;
  }
  .common-section-small-part .section-header {
    margin-top: 215px;
    padding-left: 5px;
  }
  .common-section-big-half {
    width: 746px;
    display: flex;
    justify-content: center;
  }
  .common-section-big-half .common-section-image {
    margin-right: 30px;
  }
  .common-section .download-button {
    margin-left: 13px;
  }
  .common-section-right-text {
    margin-left: 135px;
    margin-top: -50px;
  }
  .common-section-right-text .section-description {
    margin-bottom: 70px;
    padding-left: 8px;
  }
  .common-section-right-text .download-button {
    margin-left: 5px;
  }
  .common-section-image {
    width: 360px;
    height: 530px;
    margin-top: 70px;
    margin-left: 12px;
  }
  section#asortiment {
    padding: 0;
  }
  section#asortiment .section-header {
    width: 366px;
  }
  section#get-it .section-header {
    margin-top: 200px;
  }
  section#get-it .section-description {
    width: 357px;
    margin-bottom: 50px;
  }
  section#get-it .common-section-right-text {
    margin-right: 180px;
  }
  .green {
    background-color: rgb(0 204 56);
  }
  .newsletter-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 300px;
  }
  .newsletter-section .container {
    display: flex;
    flex-direction: row;
  }
  .newsletter-section-image {
    width: 229px;
    height: 158px;
    margin-top: 55px;
    margin-left: 40px;
    margin-right: 55px;
  }
  .newsletter-section-header {
    color: rgb(0 99 114);
    font-size: 30px;
    font-family: "Roboto";
    font-weight: bold;
    margin-bottom: 10px;
  }
  .newsletter-section-description {
    color: white;
    font-size: 20px;
    width: 486px;
    font-weight: 300;
    margin-bottom: 30px;
  }
  .email-input {
    width: 300px;
    height: 36px;
    padding-left: 16px;
    font-size: 16px;
    margin-right: 10px;
    margin-bottom: 0;
  }
  .email-input::placeholder {
    font-size: 16px;
    letter-spacing: 0;
    margin-left: 16px;
  }
  .newsletter-section button {
    width: 200px;
    height: 36px;
    color: rgb(255 255 255);
    background-color: rgb(0 99 114);
    border-radius: 36px;
    font-size: 14px;
    letter-spacing: 0.5px;
  }
  section#join .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 95px 0 110px -70px;
    text-align: center;
  }
  section#join .section-header {
    margin-top: 17px;
    margin-bottom: 20px;
    margin-right: 28px;
  }
  section#join .section-description {
    width: 394px;
    margin-bottom: 40px;
    margin-right: 28px;
  }
  section#join button {
    width: 240px;
    height: 36px;
    color: rgb(255 255 255);
    background-color: rgb(0 99 114);
    border-radius: 36px;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin-right: 28px;
  }

  section#join img {
    width: 240px;
    height: 210px;
    margin-bottom: 3px;
    margin-right: 35px;
  }
  footer {
    height: 285px;
  }
  footer .contact-info,
  footer .copyright {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    letter-spacing: 0;
  }
  footer p {
    font-size: 20px;
    font-weight: 400;
    margin-top: 51px;
    margin-left: 19px;
    color: rgb(109 114 120);
    font-family: "Roboto";
  }
  footer p:last-of-type {
    margin-left: 5px;
  }
  footer a {
    text-decoration: none;
    color: rgb(109 114 120);
    margin-left: 54px;
  }
  footer span {
    display: block;
    font-weight: normal;
  }
  footer .footer-email {
    margin-left: 166px;
    margin-right: 132px;
  }
  footer .copyright {
    margin-top: 80px;
    font-size: 16px;
    font-weight: normal;
    color: rgb(109 114 120);
    font-family: "Roboto";
  }
  .with-border {
    border-top: 1px solid rgb(109 114 120);
  }
  section#promote .section-content {
    padding-top: 90px;
    padding-left: 10px;
    height: 470px;
  }
  #img-app-shop {
    position: relative;
    top: -400px;
    left: 450px;
  }
  #promote.lightgrey-background {
    height: 600px;
  }
  section#promote .section-header {
    margin-bottom: 0;
    margin-top: 40px;
    padding-left: 15px;
    width: 352px;
  }
  section#promote img {
    width: 538px;
    height: 549px;
  }
  section#shop-join {
    margin-left: -10px;
  }
  section#shop-join.common-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  section#shop-join .common-section-half {
    margin-left: 135px;
  }
  section#shop-join .section-header {
    margin-top: 155px;
  }
  section#shop-join img {
    width: 360px;
    height: 630px;
    margin-top: 65px;
    margin-bottom: 0;
  }
  section#shop-join .star-info {
    width: 312px;
    height: 48px;
    font-size: 14px;
    color: rgb(109 114 120);
    margin: 30px 0 0 17px;
  }
  section#about-app {
    height: 600px;
    margin-left: 10px;
  }
  section#about-app .section-header {
    width: 100%;
    margin-top: 70px;
    margin-bottom: 20px;
  }
  section#about-app .column-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
  }
  section#about-app .column {
    width: 240px;
    margin-right: 60px;
    overflow-y: visible;
  }
  section#about-app .column p {
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 50px;
    width: 228px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(109 114 120);
  }
  section#about-app .column p.less-top-space {
    margin-bottom: 31px;
  }
  section#about-app img {
    width: 240px;
    height: 386px;
    margin-left: 5px;
  }
  section#realisation {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 0px;
  }
  section#realisation .section-header {
    width: 432px;
    margin: 116px 77px -5px 10px;
  }
  .faq {
    padding-top: 48px;
    margin-left: 0;
    height: 1269px;
  }
  .faq .content-container {
    margin-left: 30px;
  }
  .faq .faq-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 1252px;
  }
  .faq .main-header {
    width: 350px;
  }
  .faq .center {
    width: 628px;
    margin-left: 160px;
    margin-bottom: -20px;
  }
  .faq .center .section-header {
    width: 628px;
    margin-top: -10px;
    margin-bottom: 20px;
  }
  .faq .center .section-description {
    width: 541px;
    color: rgb(255 255 255);
    margin-top: 0;
    margin-bottom: 60px;
  }
  section#contact {
    margin-left: 50px;
  }
  section#contact .section-header {
    margin-top: 65px;
    margin-bottom: 0;
  }
  section#contact .section-description {
    width: 486px;
    margin-bottom: 29px;
  }
  section#contact .email-input,
  textarea {
    border: none;
  }
  section#contact .email-input,
  textarea,
  .send-button {
    margin-left: 5px;
  }
  .text-area {
    width: 590px;
    height: 128px;
    margin-top: 20px;
    padding: 16px;
    padding-top: 10px;
    font-size: 16px;
  }

  .text-area::placeholder {
    font-size: 16px;
    letter-spacing: 0;
    margin-left: 16px;
  }
  .text-area-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  section#contact img {
    width: 150px;
    height: 123px;
    margin-left: 50px;
    margin-top: 19px;
  }
  .send-button {
    background-color: rgb(0 99 114);
    height: 36px;
    width: 200px;
    border-radius: 18px;
    color: rgb(255 255 255);
    letter-spacing: 0.5px;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
}
button {
  border: 1px solid transparent;
}
.center-container {
  max-width: 1055px;
  display: flex;
  align-self: center;
}
